<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <button id="btn">获取数据</button>
    <table>
        <thead>
            <th>
                <td>id</td>
                <td>count</td>
                <td>name</td>
                <td>default_image_url</td>
                <!-- $99 -->
                <td>price</td>
                <!-- <input type="checkbox" > -->
                <td>selected</td>
            </th>
        </thead>
    </table>
</body>
</html>