<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <script src="../static/jquery.min.js"></script>
    <script>
        var json_obj = {"uname":"laowang","age":18};   
        console.log(json_obj);
        var json_arr = ["Lily","QTX"];
    </script>
    
    <script>
        var xhr = new XMLHttpRequest();
        xhr.open('get','/getData_server',true);
        xhr.onreadystatechange=function(){
            if(xhr.readyState==4&&xhr.status==200){
                var data =xhr.responseText;
                console.log(data);
                console.log(typeof data);
                //JSON.parse(json_str)解析json串,将对应格式的JSON对象返回
                // 后端json.dumps()将后端数据格式转换成JSON串
                // 前端JSON.parse()
                var json_obj = JSON.parse(data);
                console.log(json_obj)
            }
        }
        xhr.send(null);
    </script>
</body>
</html>