body{
    background: url(../bgimg/9.jpg) ;
    background-repeat:no-repeat;/*图片适应窗口大小，这里设置的是不进行平铺*/
    background-attachment: fixed;/*图片相对于浏览器固定,这里设置背景图片固定，不随内容滚动*/
    background-origin: border-box;/*从边框区域显示*/
    background-size:cover;

}
#d_login{
    width: 20%;
    height: 40%;
    background-color: #ffcc33;
    /*border: 1px solid blue;*/
    /* padding: 10px 10px; */
    position: absolute;
    right: 20%;
    top:30%;
    border-radius: 10px;
}

#username,#password{
    width: 60%;
    height: 10%;
    margin: 20% 20%;
    margin-bottom: 5%;
    /*border: 1px solid red;*/
}
#username{
    margin-top: 10%;
}

#btn_login {
    width: 50%;
    margin-left: 25%;
}
#login_title{
    font-size:20px;
    font-weight: bold;
    color: #000066;
    display: inline-block;
    margin-top: 5%;
    position: relative;
    left: 27%;
}
#register{
    position: absolute;
    left: 0;
    bottom: 5%;
}